# Maven
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar

# Eclipse / IntelliJ / NetBeans
*.iml
*.ipr
*.iws
.idea/
*.class
*.log
*.ctxt
*.jar
*.war
*.ear
*.db

# OS files
.DS_Store
Thumbs.db